<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blah</title>
</head>
<body>

    <h1>This is in the layout file.</h1>
    <%- body%>
    <%- include('partials/onepartials') %>
</body>
</html>